.ei-buttons {
  gap: 20px;
}

.ei-buttons button {
  height: 35px;
  padding: 0px 15px;
  border: solid 1px;
  border-radius: 7px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 85%;
  background-color: #041b2a;
  gap: 10px;
}

.ei-employee-infos {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.ei-rendement {
  gap: 20px;
}

.ei-rendement select {
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-2.5px);
  /* font-family: "Poppins", sans-serif;
  font-size: 90%; */
}

.ei-delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1%;
  top: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: absolute;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.ei-delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: transparent;
  border: solid 1px white;
  align-items: center;
}

.ei-delete-button:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.ei-delete-button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.ei-delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}
/* .ei-container {
  width: 90%;
  gap: 30px;
  align-items: center;
}

.ei-name {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 200%;
  font-weight: 500;
  color: #041b2a;
}

.ei-functionalities button {
  display: flex;
  align-items: center;
  gap: 7%;
  justify-content: center;
  min-height: 35px;
  height: auto;
  border-style: solid;
  border-radius: 7px;
  border-width: 1px;
  background-color: #041b2a;
}

.ei-employees-password {
  width: 38%;
}

.ei-delete-employee {
  width: 22%;
}

.ei-edit-employee {
  width: 20%;
}

.ei-func-name {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 70%;
}

.ei-func-icon {
  color: white;
}

@media (min-width: 768px) and (max-width: 1269px) {
  .ei-name {
    font-size: 130%;
  }
}

@media (max-width: 400px) {
  .ei-func-name {
    font-size: 50%;
  }
}
.ei-photo-container {
  height: 300px;
}

.ei-photo {
  height: 100%;
  width: 300px;
  border-radius: 20px;
}

.ei-rank {
  display: flex;
  flex-direction: column;
}

.ei-rank h1 {
  font-size: 70px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
}

.ei-rank p {
  transform: translate(-30px, 26px);
  font-family: "Urbanist", sans-serif;

  font-weight: bold;
  letter-spacing: 1px;
}

 */
