.off-container {
  gap: 15px;
  user-select: none;
  cursor: pointer;
  /* border: solid 1px #070f2b76; */
  border-radius: 10px;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: scale 0.4s ease;
}

.off-container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  scale: 1.02;
}

.off-title {
  font-family: "Poppins", sans-serif;
  font-size: 110%;
  width: 90%;
  color: #070f2b;
}

.rec-offers {
  width: 90%;
}

.rec-offers .row {
  gap: 30px;
}

.c-off-title {
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  width: 90%;
  color: #070f2b;
  font-weight: 500;
}

.c-offer-part {
  height: fit-content;
  width: 100%;
}

.c-off-content {
  gap: 10px;
}

.c-off-section {
  gap: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.c-off-section-title {
  font-family: "Poppins", sans-serif;
  color: #070f2b;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: solid 1px;
  width: 70%;
}

.c-off-section-content {
  gap: 15px;
}

.c-off-subsection {
  gap: 7px;
}

.c-off-subsection-title {
  font-family: "Poppins", sans-serif;
  color: #070f2b;
  font-weight: 500;
  font-size: 90%;
}

.c-off-section input {
  background-color: transparent;
  border: solid 1px #041b2a74;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
}

.c-off-content .row {
  gap: 10px;
}

.c-off-section textarea {
  width: 100%;
  background-color: transparent;
  border: solid 1px #041b2a74;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  resize: none;
  height: 350px;
}

.c-offer-part {
  gap: 30px;
}

.c-candidate {
  padding-bottom: 10px;
  border-bottom: solid 1px;
}

.c-candidate-info {
  font-family: "Poppins", sans-serif;
  color: #070f2b;
  font-size: 90%;
}

.c-candidate-date {
  font-family: "Poppins", sans-serif;
  color: #041b2a74;
  font-size: 70%;
}

.c-candidate-cv {
  text-decoration: none;
}

.cta {
  position: relative;
  width: 130px;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta a {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 90%;

  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.c-candidate-part-title {
  font-family: "Poppins", sans-serif;
  font-size: 130%;
  width: 90%;
  color: #070f2b;
  font-weight: 500;
}

.c-candidate-part {
  gap: 15px;
  width: 90%;
}

.c-candidate-part-content {
  gap: 15px;
}

.c-no-candidate {
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  color: #070f2b;
  font-weight: 500;
}

.del-off-icon {
  color: #070f2b !important;
}

.del-offer-btn {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 35px;
  border: solid 2px;
  padding: 0px 20px;
  background-color: transparent;
  color: #070f2b;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.del-offer-btn .icon {
  font-size: 120%;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: #070f2b;
  transition-duration: 0.3s;
}

.del-offer-btn:hover {
  color: transparent;
  border: solid 2px #070f2b;
}

.del-offer-btn:hover .icon {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.del-offer-btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px #070f2b;
}
