.pr-container {
  position: absolute;
  z-index: 10;
  top: -50%;
  border-style: solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 35%;
  align-items: center;
  padding: 20px 0;
  border-radius: 7px;
  background-color: #111111;
  border-color: #111111;
}

.pr-active {
  animation: showpass 0.8s ease forwards;
}

@keyframes showpass {
  0% {
    top: -50%;
  }
  100% {
    top: 25%;
  }
}

.pr-title {
  font-family: "Urbanist", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 77%;
  text-align: center;
  padding: 0px 0px 10px 0;
}

.pr-form {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: flex-end;
}

.pr-password label {
  color: white;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.7px;
  font-size: 12px;
  padding-left: 10px;
}

.pr-password {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.pr-password-input {
  height: 32px;
  width: 95%;
  border-radius: 20px;
  border-width: 1px;
  border-color: #797979;
  background-color: #1e1e1e;
  padding-left: 18px;
  border-style: solid;
  color: white;
  font-family: "Urbanist", sans-serif;
}

.pr-reveal-button {
  height: 32px;
  width: 30%;
  font-family: "Urbanist", sans-serif;
  color: white;
  background-color: #041b2a;
  border-style: solid;
  border-color: #36454f;
  border-width: 1px;
  border-radius: 7px;
  font-size: 12.5px;
  cursor: pointer;
}

.pr-revealing-text {
  align-self: flex-start;
  transform: translateX(24%);
  color: white;
  font-family: "Urbanist", sans-serif;
  font-size: 115%;
  letter-spacing: 1px;
}

.pr-close {
  position: absolute;
  color: white;
  font-size: 150%;
  right: 3%;
  top: 5%;
  cursor: pointer;
}

.pr-input-field {
  position: relative;
}

.pr-wrong-password {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.pr-see-password {
  position: absolute;
  top: 28%;
  left: 90%;
  color: #797979;
}
