.n-container {
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
  z-index: 3;
}

.n-profilepic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.n-row {
  height: 7.192vh;
  background-color: white;
  /* background: #42b1bc;
  background: linear-gradient(to top, #42b1bc 0%, #757575 100%); */
}

.n-name {
  color: #041b2a;
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  padding-left: 7px;
  font-weight: 500;
}

.n-logout {
  height: 52%;
  width: 70px;
  background-color: #041b2a;
  border-style: solid;
  border-color: #36454f;
  border-width: 1px;
  border-radius: 6px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

.n-notification-icon {
  color: #041b2a;
  font-size: 170%;
}

.n-active {
  position: absolute;
  width: 8px;
  height: 8px;
  color: green;
  transform: translate(-11px, 2px);
}

.n-messages {
  color: #041b2a;
  font-size: 140%;
  transition: scale 0.5s ease-in-out;
  cursor: pointer;
}

.n-messages:hover {
  scale: 1.1;
}

.n-title {
  background-image: linear-gradient(to right, #42b1bc, #757575);
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Syncopate", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 120%;
  letter-spacing: 1px;
  align-self: center;
}

.nav-icon {
  color: #041b2a;
  font-size: 140%;
  cursor: pointer;
}

@media (max-width: 630px) {
  .n-title {
    font-size: 70%;
  }
  .nav-icon {
    font-size: 80%;
  }
}

.hamburger {
  cursor: pointer;
  margin-right: 10px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #041b2a;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
