.ae-container {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  gap: 30px;
  width: 460px;
  max-height: 90vh;
  background-color: white;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 10;
  top: -100%;
}

.ae-active {
  animation: showadd 0.8s ease forwards;
}

@keyframes showadd {
  0% {
    top: -50%;
  }
  100% {
    top: 9%;
  }
}

.ae-title {
  font-family: "Urbanist", sans-serif;
  color: #070f2b;
  font-weight: 300;
  font-size: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 77%;
  text-align: center;
  padding: 0px 0px 10px 0;
}

.ae-input {
  gap: 5px;
}

.ae-form {
  gap: 10px;
  width: 85%;
}

.ae-container label {
  color: #070f2b;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 0.7px;
  font-size: 14px;
  padding-left: 10px;
}

.ae-container input {
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  border: solid 1px #070f2b;
  background-color: transparent;
  color: #070f2b;
  font-family: "Urbanist", sans-serif;
  font-size: 90%;
}

.ae-container select {
  height: 30px;
  border: solid 1px #070f2b;
  background-color: transparent;
  color: #070f2b;
  padding-left: 10px;
  border-radius: 20px;
  font-size: 80%;
}

.ae-container option {
  background-color: #070f2b;
  color: white;
}

.ae-photo {
  border: solid;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  border: solid 1px #070f2b;
  cursor: pointer;
}

.ae-photo label {
  cursor: pointer;
  text-wrap: nowrap;
  overflow-x: auto;
}

.ae-container button {
  width: 40%;
  align-self: center;
  border-radius: 7px;
  border: solid 1px;
  height: 35px;
  background-color: #070f2b;
  color: white;
  font-family: "Urbanist", sans-serif;
  letter-spacing: 1px;
}

@media (max-width: 460px) {
  .ae-container {
    width: 100%;
  }
}

.ae-close {
  font-size: 80%;
  position: absolute;
  right: 2%;
  cursor: pointer;
}

.ae-see-password {
  transform: translate(-40%, 190%);
}

.ae-photo-icon {
  width: 10%;
}
